.container  {
	position:absolute;
	display:flex;
}
.counter {
	padding:10px;
	display: inline-block;
}

.button{
	font-size: 14px;
	background-color: white;
	padding:3px 10px;
	width: 100px;
}

.result{
	display: inline-block;
	font-size: 16px;
	color: blue;
	padding:5px 10px;
}
