.header {
	width:100%;
	position:absolute;
	display: flex;
	padding:10px;
	min-width: 980px;
	height: 70px;
	background-color: #bbb;
}
.lucylogo{
	padding-right: 200px;
	color: #757575;
}

ul{
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    white-space: nowrap;
    display: inline;
    overflow: visible;
    position: relative;
}
li {
	text-decoration: none;
	display: inline-block;
    cursor: pointer;
    padding:10px 30px;
}